<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-5">
      <h3 class="text-center">Log in</h3>

      <%= form_with url: login_path, method: :post, local: true do |form| %>
        <div class="mb-3">
          <%= form.label :email, class: "form-label" %>
          <div class="input-group">
            <%= form.email_field :email, class: "form-control", autocomplete: "off" %>
          </div>
        </div>

        <div class="mb-3">
          <%= form.label :password, class: "form-label" %>
          <div class="input-group">
            <%= form.password_field :password, class: "form-control", autocomplete: "new-password" %>
          </div>
        </div>

        <p class="text-center">Or</p>

        <div class="mb-4">
          <%= form.label :pin, class: "form-label" %>
          <div class="input-group">
            <%= form.password_field :pin, class: "form-control", autocomplete: "off" %>
          </div>
        </div>

        <div class="d-grid">
          <%= form.submit "Login", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>