<h1>User#new</h1>
<p>Find me in app/views/user/new.html.erb</p>
<div>
  <h2>Register new user</h2>
  <% if @user.errors.any? %>
    <div class="alert alert-danger">
      <h4>There were problems creating the user:</h4>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% if current_user.role.downcase == "admin" %>
  <%= form_with model: @user, url: users_path, local: true do |form| %>
    <div class="form-group">
      <%= form.label :name %>
      <%= form.text_field :name, class: "form-control" %>
    </div>

    <div class="form-group mt-2">
      <%= form.label :surname %>
      <%= form.text_field :surname, class: "form-control" %>
    </div>

    <div class="form-group mt-2">
      <%= form.label :email %>
      <%= form.text_field :email, class: "form-control" %>
    </div>

    <div class="form-group mt-2">
      <%= form.label :password %>
      <%= form.text_field :password, class: "form-control" %>
    </div>

    <div class="form-group mt-2">
      <%= form.label :pin %>
      <%= form.password_field :pin, class: "form-control", maxlength: 6 %>
    </div>

    <div class="form-group mt-2">
      <%= form.label :role %>
      <%= form.select :role, ["Manager", "Supervisor", "Bartender", "Waiter"], {}, class: "form-control" %>
    </div>

    <div class="form-group mt-4">
      <%= form.submit "Create user", class: "btn btn-primary" %>
    </div>
    <% end %>
    <% end %>
</div>