<div class="container mt-5">

<h1>Ingredients#new</h1>
<p>Find me in app/views/ingredients/new.html.erb</p>

<% unless pin_login? %>
<div>

  <h2>Add new ingredient</h2>
  <%= form_with model: @ingredient, url: ingredients_path, local: true do |form| %>
    <div class="form-group">
      <%= form.label :name%>
      <%= form.text_field :name, class: "form-control" %>
    </div>

    <div class="form-group mt-3">
      <%= form.label :category%>
      <%= form.text_field :category, list: "category-options", class: "form-control", placeholder: "Category" %>
      <datalist id="category-options">
         <% Ingredient.distinct.pluck(:category).compact.each do |cat| %>
            <option value="<%= cat %>">
         <% end %>
      </datalist>
    </div>

    <div class="form-group mt-3">
      <%= form.label :description%>
      <%= form.text_field :description, class: "form-control", rows: 3 %>
    </div>

    <div class="form-group mt-3">
      <%= form.label :alcohol_percentage, "ACL/VOL" %>
      <%= form.number_field :alcohol_percentage, step: 0.1, class: "form-control" %>
    </div>

    <div class="form-group mt-4">
      <%= form.submit "Add ingredient", class: "btn btn-success" %>
    </div>
   <% end %>
</div>
<% end %>
</div>