<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Baronrails" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", type: "module", "data-turbo-track": "reload" %>
  </head>

  <body>
    
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary px-4">
  <div class="container-fluid flex-wrap">
    <%= link_to "Bar on Rails", dashboard_path, class: "navbar-brand text-light me-4 mb-2" %>

    <% if current_user.present? %>
      <div class="d-flex flex-wrap align-items-center">
        <%= link_to "Search cocktails", cocktails_path, class: "nav-link text-light me-3" %>
        <%= link_to "Search ingredient", ingredients_path, class: "nav-link text-light me-3" %>

        <% unless pin_login? %>
          <% if current_user.role.downcase == "manager" %>
            <%= link_to "Create cocktail", new_cocktail_path, class: "nav-link text-light me-3" %>
            <%= link_to "Add ingredient", new_ingredient_path, class: "nav-link text-light me-3" %>
            <% if ["manager", "supervisor"].include?(current_user.role.downcase) %>
              <%= link_to "Development", develop_cocktails_path, class: "nav-link text-light me-3" %>
            <% end %>
          <% end %>

          <% if current_user.role.downcase == "admin" %>
            <%= link_to "View users", users_path, class: "nav-link text-light me-3" %>
          <% end %>
        <% end %>

        <%= link_to "Logout", logout_path, method: :delete, class: "nav-link text-light me-3" %>
      </div>
    <% end %>
  </div>
</nav>

    <div class="main-content container mt-5 mb-5">
    <div class="container mt-3">
    <% if notice %>
      <div class="alert alert-success"><%= notice %></div>
    <% end %>

    <% if alert %>
      <div class="alert alert-danger"><%= alert %></div>
    <% end %>
  <%= yield %>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"integrity="sha384-pE3EoOZ3AVrLkkR1V49aM6kLkz/kVy1qHnxsL+Zq0wZ7DhIKy5XlpmrNJoTkS9gZ" crossorigin="anonymous"></script>
  </body>
</html>
